aiohttp==3.6.2
altair==4.1.0
appnope==0.1.0
argon2-cffi==20.1.0
astor==0.8.1
async-timeout==3.0.1
attrs==20.2.0
backcall==0.2.0
base58==2.0.1
bleach==3.1.5
blinker==1.4
bokeh==2.0.2
boto3==1.14.56
botocore==1.17.56
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cycler==0.10.0
dask==2.22.0
dataprep==0.2.12
decorator==4.4.2
defusedxml==0.6.0
distributed==2.25.0
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
flake8==3.8.3
fsspec==0.8.0
HeapDict==1.0.1
idna==2.10
importlib-metadata @ file:///opt/concourse/worker/volumes/live/290b74d5-e5f3-47ff-7257-17b3c9ccecab/volume/importlib-metadata_1593446478206/work
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
jsonpath-ng==1.5.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
kiwisolver==1.2.0
locket==0.2.0
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib @ file:///opt/concourse/worker/volumes/live/24f995ab-f0a7-4bf7-4b0e-ea68b1f7e8f7/volume/matplotlib-base_1597876350104/work
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
multidict==4.7.6
nbconvert==5.6.1
nbformat==5.0.7
nltk==3.5
notebook==6.1.3
numpy==1.18.5
olefile==0.46
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.1
partd==1.1.0
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///opt/concourse/worker/volumes/live/be1e8a56-c4be-4ffe-4fa7-5a0e9c460b1a/volume/pillow_1594307312933/work
plotly==4.9.0
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
pyarrow==1.0.1
pycodestyle==2.6.0
pycparser==2.20
pydeck==0.5.0b1
pyflakes==2.2.0
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
regex==2020.7.14
requests==2.23.0
retrying==1.3.3
s3transfer==0.3.3
scikit-learn @ file:///opt/concourse/worker/volumes/live/111833a2-339b-4578-413b-7337bb8fe64a/volume/scikit-learn_1598376920601/work
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
six==1.15.0
sortedcontainers==2.2.2
statsmodels==0.11.1
streamlit==0.66.0
tblib==1.7.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
toml==0.10.1
toolz==0.10.0
tornado==5.0.2
tqdm==4.48.2
traitlets==5.0.4
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.10
validators==0.18.1
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wordcloud==1.8.0
yarl==1.5.1
zict==2.0.0
zipp==3.1.0
